* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0px;
}

h1 {
  color:black;
  justify-self: center;
  padding-bottom: 45px;
  font-size: 45px;
  font-family: Roboto, sans-serif;
}

.logo {
  justify-self: start;
  width: 10%;
  padding-top: 10px;
}

#imglogo {
  width: 150%;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
  padding: 0px;
  margin: 30px;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0px;
  margin: 30px;
}

h2 {
  color: #f58422;
  padding-bottom: 15px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 35px;
  margin: 10px;
}

p {
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 20px;
}

label {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 20px;
  
}

input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="radio"] {
  accent-color: #f58422;
  height: 20px;
  width: 20px;
  margin: 3px;
}

select {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 50px;
  margin-bottom: 10px;
}

div#enviar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0px;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

button {
  width: 40%;
  border-radius: 5px;
  border: 1px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f58422;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}